ul.shows
    table(style="margin-left: 25%")
        each show in shows
            tr
                td
                    li.show
                        div(style="clear: both; text-align: center;")
                            a(href="shows/" + show._id)= show.name 
                td
                    include mixins/switch
                    div.uk-float-left.uk-margin-large-left 
                        +switch(show.active, show._id)
                td
                    i.uk-icon-times.delete(data-id="" + show._id)
